<div class="fabric-thumbnails">
  <div class="row">
    <% Fabric.all.each do |fabric| %>
      <div class="col-sm-4 col-md-3">
        <div class="thumbnail box-shadow">
          <a href="#">
            <img src="http://cbsphilly.files.wordpress.com/2012/05/shopping-style-fabric-stores-rolls-of-fabric.jpg">
          </a>
          <div class="row">
            <div class="col-xs-6 card-info">
              #<%=fabric.code%>
            </div>
            <div class="col-xs-6 card-info text-right">
              <%=fabric.quantity%> Mts
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <%=fabric.width %>"
            </div>
            <div class="col-xs-6 text-right">
              Powerloom
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
