/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

div.thumbnail {
  padding: 10px;
}

.card-thumbnail {
  margin-bottom: 5px;
}

div.card-info {
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 3px;
}

div.search-bar {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 610px;
  }

  .modal-body {
    padding: 0px 45px 15px 45px;
  }
}

.modal-body {
  padding-top: 35px;
}

.owl-theme .owl-controls .owl-buttons {

  @media (max-width: 768px) {
    display:none;
  }

  div {
    position: absolute;
    padding: 5px 9px;
    opacity: 0.3;
  }

  i {
    margin-top: 2px;
  }

  .owl-prev {
    left: -40px;
    top: 200px; 
  }

  .owl-next {
    right: -40px;
    top: 200px;
  }
}

#fabric-modal {
  .close {
    position: absolute;
    top: 7px;
    right: 18px;
    font-size: 25px;
    opacity: 0.3;

    @media (max-width: 768px) {
      right: 14px;
    }
  }
}

.recrop-image {
  margin-left: 20px;
}

.whatsapp {
  background-color: #43d854;
  border-color: #43d854;
  color: #fff;
  &:hover {
    background-color: #43d854;
    border-color: #43d854;
    color: #fff;
  }
}

.tags-edit {
  width: 100%;
}
